
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@font-face {
  font-family: "futura-bold";
  src: url("../fonts/Futura-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #5c5c77;
}

p, .paragraph {
  font-weight: 400;
  color: #5c5c77;
  font-size: 15px;
  line-height: 1.0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-bold";
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 60px;
  color: #1a1a37;
}
@media (max-width: 575px) {
  h1, .h1 {
    font-size: 45px;
  }
}

h2, .h2 {
  font-size: 40px;
  color: #1a1a37;
}
@media (max-width: 575px) {
  h2, .h2 {
    font-size: 30px;
  }
}

h3, .h3 {
  font-size: 25px;
  color: #1a1a37;
}
@media (max-width: 575px) {
  h3, .h3 {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 20px;
  color: #fff;
}
@media (max-width: 575px) {
  h4, .h4 {
    font-size: 18px;
  }
}

h5, .h5 {
  font-size: 18px;
  color: #fff;
}
@media (max-width: 575px) {
  h5, .h5 {
    font-size: 16px;
  }
}

h6, .h6 {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 575px) {
  h6, .h6 {
    font-size: 14px;
  }
}

/* Button style */
.btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 10;
  font-weight: 500;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}
.btn::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 100%;
  left: 0;
  bottom: 10%;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
}
.btn:active, .btn:hover, .btn.focus, .btn:focus, .btn.active {
  outline: 0;
  box-shadow: none !important;
}
.btn:active::before, .btn:hover::before, .btn.focus::before, .btn:focus::before, .btn.active::before {
  transform: scaleY(1);
  transform-origin: bottom;
}

.btn-sm {
  font-size: 14px;
  padding: 10px 35px;
}

.btn-xs {
  font-size: 12px;
  padding: 5px 15px;
}

.btn-primary {
  color: #fff;
  background-color:tomato;
}
.btn-primary::before {
  background-color: #fff;
}
.btn-primary:active, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active {
  color: red !important;
  background-color: tomato !important;
  border-color: aliceblue !important;
}

.btn-outline-primary {
  color: black;
  background-color: transparent;
  border: 2px solid tomato;
}
.btn-outline-primary::before {
  background-color: #fff;
}
.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary.focus, .btn-outline-primary:focus, .btn-outline-primary.active {
  color: black !important;
  background-color: tomato !important;
  border-color: aliceblue !important;
}

.btn-light {
  color:darkred;
  background-color: snow;
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 10px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.btn-light::before {
  background-color: gold;
}
.btn-light:active, .btn-light:hover, .btn-light.focus, .btn-light:focus, .btn-light.active {
  color: black;
  background-color:thistle;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background:red;
  color: #fff;
}

::selection {
  background:red;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a:hover {
  color: #ffbc3b;
}

a.text-primary:hover {
  color: #ffbc3b !important;
}

a.text-light:hover {
  color: #ffbc3b !important;
}

h4 {
  transition: 0.2s ease;
}

a h4:hover {
  color: #ffbc3b;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-title {
  margin-bottom: 30px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.border-primary {
  border-color: #ededf1 !important;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1a1a37;
  opacity: 0.8;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: red !important;
}

.bg-secondary {
  background: #1a1a37 !important;
}

.bg-gray {
  background: #f8f8f8;
}

.text-primary {
  color: #000 !important;
}

.text-color {
  color: #5c5c77;
}

.text-light {
  color: #8585a4 !important;
}

.text-lighten {
  color: #d6d6e0 !important;
}

.text-muted {
  color: #b5b5b7 !important;
}

.text-dark {
  color: #1e1e4b !important;
}

.font-secondary {
  font-family: "futura-bold";
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pl-150 {
  padding-left: 150px;
}

.zindex-1 {
  z-index: 1;
}

@media (max-width: 991px) {
  .overflow-md-hidden {
    overflow: hidden;
  }
}

.vertical-align-middle {
  vertical-align: middle;
}

.icon-md {
  font-size: 36px;
}

/* page title */
.page-title-section {
  padding: 200px 0 80px;
}

.custom-breadcrumb li.nasted {
  position: relative;
  padding-left: 25px;
}
.custom-breadcrumb li.nasted::before {
  position: absolute;
  font-family: "themify";
  content: "\e649";
  font-size: 20px;
  top: 50%;
  left: -5px;
  color: #fff;
  transform: translateY(-50%);
}

/* /page title */
.list-styled {
  padding-left: 25px;
}
.list-styled li {
  position: relative;
  margin-bottom: 15px;
}
.list-styled li::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffbc3b;
  left: -25px;
  top: 5px;
}

textarea.form-control {
  height: 200px;
  padding: 20px;
}

#map_canvas {
  height: 500px;
}

#about {
  background: url("../images/about/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 40px 0 40px 0;
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

.navbar {
  position: fixed;
  display: flex;
  background-color: red;
  height: 80px;
  margin: 10px;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh;
  z-index: 20;
  transition: 0.3s;
}

nav.hide {
  transform: translateY(-15.7vh);
  transition: all 0.5s;
}

.navbar-brand {
  font-weight: 500;
  color: whitesmoke;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button {
  background-color:snow;
  color:tomato;
  font-size: 14px;
  padding: 7px 16px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s bakcground-color;
}

.login-button:hover {
  background-color: #f8f8f8;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link.active {
  color:whitesmoke;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: seashell;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before, .nav-link:active::before {
    width: 100%;
    visibility: visible;
  }
}

.nav-bg {
  background-color: red;
}

link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0509803922);
}

.navbar .nav-item > .dropdown-toggle::after {
  border: 0;
  margin-left: 0.255em;
  vertical-align: 1px;
  content: "\e64b";
  font-family: "themify";
  font-size: 11px;
  width: auto;
}
.navbar .dropdown .dropdown-menu li {
  padding-top: 10px;
}
.navbar .dropdown .dropdown-menu li:last-child {
  padding-bottom: 15px;
}
.navbar .dropdown .dropdown-menu.dropdown-submenu {
  top: 0;
}
@media (max-width: 991px) {
  .navbar .dropdown .dropdown-menu.dropdown-submenu li:first-child {
    margin-top: 15px;
  }
}
.navbar .dropdown .dropdown-item .dropdown-toggle {
  display: block;
  line-height: 1.8;
}
.navbar .dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  border-bottom: 5px solid red;
  padding: 0 15px;
  padding-left: 5px;
  top: 50px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  background: #fff;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu {
    padding-left: 15px;
    display: none;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform-origin: unset;
    margin: 0;
    border: 0;
    position: static;
  }
}
.navbar .dropdown-menu.show {
  visibility: hidden;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}
.navbar .dropdown .dropdown .dropdown-toggle, .navbar .dropdown-item {
  position: relative;
  color: #ffbc3b;
  transition: 0.2s ease;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 991px) {
  .navbar .dropdown .dropdown .dropdown-toggle, .navbar .dropdown-item {
    text-align: center;
  }
}
.navbar .dropdown .dropdown .dropdown-toggle:hover, .navbar .dropdown-item:hover {
  color: #ffbc3b;
  background: transparent;
}

.hero-slider .slick-dots {
  position: absolute;
  left: 0;
  bottom: -100px;
  padding-left: 0;
}
.hero-slider .slick-dots li {
  display: inline-block;
  margin: 0 6px;
}
.hero-slider .slick-dots li.slick-active button {
  background: #ffbc3b;
}
.hero-slider .slick-dots li button {
  color: transparent;
  padding: 0;
  overflow: hidden;
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  outline: 0;
}

/* banner feature */
.feature-icon {
  font-size: 50px;
  color: #ffbc3b;
  display: inline-block;
}

.feature-blocks {
  margin-top: -100px;
  padding-left: 70px;
  padding-top: 80px;
  padding-right: 30%;
}
@media (max-width: 1400px) {
  .feature-blocks {
    padding-right: 10%;
  }
}
@media (max-width: 1200px) {
  .feature-blocks {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
  }
  .feature-blocks h3 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .feature-blocks {
    margin-top: 60px;
    padding: 50px;
  }
  .feature-blocks h3 {
    font-size: 25px;
  }
}

/* /banner feature */
/* course */
.card-btn {
  font-size: 12px;
  padding: 5px 10px;
}

.flex-basis-33 {
  flex-basis: 33.3333%;
}

.hover-shadow {
  transition: 0.3s ease;
}
.hover-shadow:hover {
  box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
}

/* /course */
/* success story */
.success-video {
  min-height: 300px;
}
.success-video .play-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .success-video .play-btn {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.play-btn {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #ffbc3b;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.play-btn i {
  line-height: 80px;
}
.play-btn::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -2;
  transition: 0.3s ease;
  transition-delay: 0.2s;
}
.play-btn::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  background: #ffbc3b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: 0.3s ease;
}
.play-btn:hover::before {
  height: 80%;
  width: 80%;
  transition-delay: 0s;
}
.play-btn:hover::after {
  height: 0;
  width: 0;
  transition: 0s ease;
}

/* events */
.card-date {
  position: absolute;
  background: #ffbc3b;
  font-family: "futura-bold";
  text-align: center;
  padding: 10px;
  color: #fff;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.card-date span {
  font-size: 40px;
}

/* footer */
.newsletter {
  background-image: linear-gradient(to right, transparent 50%, #ffbc3b 50%);
  margin-bottom: -170px;
  position: relative;
  z-index: 1;
}
.newsletter-block {
  padding-left: 50px;
}
@media (max-width: 575px) {
  .newsletter-block {
    padding-left: 15px;
  }
}

.input-wrapper {
  position: relative;
}
.input-wrapper button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.form-control {
  height: 60px;
  background: #fff;
  border-radius: 0;
  padding-left: 25px;
}
.form-control:focus {
  border-color: #ffbc3b;
  box-shadow: none;
}

.newsletter-block .form-control {
  height: 50px;
}

.bg-footer {
  background-color: red;
}

.logo-footer {
  margin-top: -20px;
  display: inline-block;
}

.footer {
  border-color: #494a43 !important;
  padding-top: 275px;
}

/* /footer */
.filter-controls li {
  cursor: pointer;
  transition: 0.1s ease;
}
.filter-controls li.active {
  font-weight: 600;
  color: #ffbc3b;
}
.filter-controls li:hover {
  color: #ffbc3b;
}

/* Footer dengan Flexbox */
footer .footer-content {
  display: flex;
  flex-wrap: wrap; /* Agar elemen bisa wrap jika perlu */
  justify-content: space-between; /* Menyebarkan kolom secara merata */
  gap: 15px; /* Menambahkan jarak antara elemen */
}

/* Kolom Kontak Kami */
footer .footer-contact {
  flex: 1 1 70%;  /* Lebar 45% dari lebar footer */
}

/* Kolom Menu */
footer .footer-menu {
  flex: 1 1 100%;  /* Lebar 100% agar menu tampil di bawah */
}

/* Kolom Sosial Media */
footer .footer-social {
  flex: 1 1 100%;  /* Sosial media berada di bawah, lebar penuh */
  text-align: center;
  margin-top: 10px;
}

/* Menata Peta agar berbentuk Persegi */
footer .footer-map {
  flex: 4 4 45%; /* Peta di sebelah kanan Kontak Kami */
}

#map {
  width: 300px; /* Lebar 100% dari kontainer */
  height: 300px; /* Menentukan tinggi peta agar berbentuk persegi */
  margin-top: 10px;
  border-radius: 2px; /* Sudut peta lebih halus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan shadow untuk peta */
}

/* Mengurangi margin pada kolom footer */
footer .row > .col {
  margin-bottom: 10px;
}

/* Peta di dalam Footer, memberikan jarak antar elemen */
footer .footer-map {
  margin-bottom: 10px;
}

/* Menu dan Sosial Media */
footer .footer-menu h5,
footer .footer-social h5 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

footer .footer-menu a,
footer .footer-social a {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

/* Menyesuaikan padding dan margin */
footer .footer-menu {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */

.cuaca-section {
  padding: 50px 0;
  background-color: #f0f8ff;
}

.cuaca-section h3 {
  text-align: center;
  font-size: 24px;
  color: #1a1a37;
}

.cuaca-info {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temp {
  font-size: 48px;
  font-weight: bold;
}

.condition {
  font-size: 18px;
  color: #888;
}

.additional-info {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.forecast {
  display: flex;
  justify-content: space-around;
}

.forecast-item {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forecast-day {
  font-size: 16px;
  font-weight: bold;
}

.forecast-time {
  font-size: 14px;
  color: #777;
}

.forecast-temp {
  font-size: 30px;
  font-weight: bold;
}

.forecast-condition {
  font-size: 16px;
  color: #555;
}
